footer.footer
    .footer__logo
        img(src="/img/logo.png", alt="Flooens logo")
        | Flooens
    ul.footer__nav
        li: a(href="#") About us
        li: a(href="#") Become a contributor
        li: a(href="#") Careers
        li: a(href="#") Blogs
        li: a(href="#") Contact
    p.footer__copyright &copy; by Tien Hoang Vo. All rights reserved.